body{
	background: #fbf9f7;
}
/*头部*/
.toubu{
	width: 100%;
	height: 70px;
	background:url(../img/103.png);
	background-size: auto 69px;
}
/*头部logo*/
.toubu a{
	display: block;
	width:230px;
	height: 54px;
	margin-left: 290px;
	background: url(../img/104.jpg)no-repeat;
}
/*中部*/
.zhongbu{
	width: 1300px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
/*中部图片点击001*/
.xiazaikuang1{
	display: block;
	width: 135px;
	height: 42px;
	position: absolute;
	top: 270px;
	right: 572px;
}
/*中部图片点击002*/
.xiazaikuang2{
	display: block;
	width: 135px;
	height: 42px;
	position: absolute;
	top: 270px;
	right: 419px;
}
/*中部图片点击003*/
.xiazaikuang3{
	display: block;
	width: 135px;
	height: 42px;
	position: absolute;
	top: 270px;
	right: 267px;
}
/*中部二维码*/
.erweima{
	width:133px;
	height: 133px;
	position: absolute;
	bottom: 50px;
	right: 0px;
}
/*下部*/
.xiabu{
	width: 1000px;
	height:251px;
	margin-left: 280px;
	margin-top: 100px;
}
/*下部里面所有li*/
.xiabu ul li{
	width:230px;
	height: 100px;
	float: left;
	margin-right: 103px;
	margin-bottom: 26px;
}
/*下部里面的h4*/
.xiabu ul li h4{
    text-indent: -9999em;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 100%;
    font-weight: normal;
}
/*下部里面的span*/
.xiabu ul li span{
	color: #848484;
    margin: 11px 0 0 34px;
    width: 188px;
    display: block;
    line-height: 1.7em;
	font-size: 12px;
}
/*下部里面的图片*/
.logo1{
	width: 100px;
	height: 20px;
	background-position: -600px -260px;
	background-image: url(../img/100.gif);
}
/*下部里面的图片*/
.logo2{
	width: 100px;
	height: 30px;
	background-position: -480px -260px;
	background-image: url(../img/100.gif);
}
/*下部里面的图片*/
.logo3{
	width: 110px;
	height:30px;
	background-position: -220px -260px;
	background-image: url(../img/100.gif);
}
/*下部里面的图片*/
.logo4{
	width: 110px;
	height: 24px;
	background-position: -110px -260px;
	background-image: url(../img/100.gif);
}
/*下部里面的图片*/
.logo5{
	width: 100px;
	height: 30px;
	background-position: 0px -260px;
	background-image: url(../img/100.gif);
}
/*下部里面的图片*/
.logo6{
	width: 130px;
	height: 30px;
	background-position: -340px -260px;
	background-image: url(../img/100.gif);
}
/*底部*/
.dibu{
	padding: 40px 0 40px 0;
    background: #FBF9F7;
    text-align: center;
    color: #848484;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}
.dibu a{
	color:#848484;
}
.dibu a:hover{
	color: #a10000;
}